<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">My Notes</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="sidebar-item">
        <a [routerLink]="'new'">Nowa notatka</a>
    </div>
    
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Wszystkie notatki</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <app-note-list></app-note-list>
    </ul>