<ul id="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark">
    <div class="d-flex">
        <li class="sidebar-logo">My Notes</li>
        <button (click)="toggleSidebar()" class="btn close-sidebar-btn d-md-none"><fa-icon [icon]="arrowIcon"></fa-icon></button>
    </div>
    
    <li class="sidebar-item mb-3">
        <button [routerLink]="'new'" class="btn add-note-btn">
            <fa-icon [icon]="plusIcon"></fa-icon>
            <span class="new-note-button-text">Nowa notatka</span>
        </button>
    </li>
    <li class="sidebar-item ml-1">
        <span class="all-notes-label"><fa-icon class="mr-1" [icon]="bookIcon"></fa-icon>Wszystkie notatki</span>
        <div class="ml-3">
            <app-note-list></app-note-list>
        </div>
    </li>
</ul>