#wrapper {
    display: flex;
}

#content-wrapper {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
} 


.editor-container {
    background-color: rgba(241, 220, 167, 0.089);

}
.sticky-footer {
    padding: 1rem 0;
    flex-shrink: 0;
    width: 100%;
}
  
footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
}
.toggleButton {
    height: 2rem;
    width: 5rem;
    display: flex;
    justify-content: flex-end;
    margin-left: -5rem;
}
.sidebar-wrap {
    z-index: 1;
}
@media (min-width: 768px) {
    .sidebar {
        position: static !important;
    }
}