<div class="container">
  <form [formGroup]="editNoteForm" (ngSubmit)="editNote()" class="d-flex flex-column justify-content-between">
    <app-error-message [control]="editNoteForm.controls['title']"></app-error-message>
    <div class="d-flex flex-grow-1 flex-column ">
          <textarea type="text" class="form-control title" [placeholder]="'Title'" formControlName="title" rows="1"></textarea>
          <quill-editor class="mb-2 d-flex flex-column editor" [styles]="{height: '100%', border: 'none'}" theme="bubble" formControlName="body"></quill-editor>
    </div>
    <div class="d-flex flex-column  align-items-end">
      <button class="btn btn-delete mb-1" (click)="deleteNote()" type="button">
        <fa-icon [icon]="trashIcon"></fa-icon>
        <span class="deleteBtnText"> Delete </span>
      </button>
      <button class="btn btn-submit" type="submit">
        <fa-icon [icon]="saveIcon"></fa-icon>
        <span class="saveBtnText"> Save </span>
      </button>
    </div>
  </form>
</div>