
.container, form {
    height: 100%;
}
.editor { 
    max-height: 60vh;
    max-width: 80vw;
}

.title {
    border: none;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 0;
    padding-left: 1rem;
    background: transparent;
    line-height: 1.2;
    resize: none;
    overflow: hidden;
    max-height: 20vh;
    min-height: 3rem;
}
.title:focus {
    border-color: none;
    box-shadow: none;
}
.btn-submit, .btn-delete {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    color: white;
    width: 10rem;
}
.btn-submit {
    background-color: rgb(121, 125, 98);
    border-color: rgb(121, 125, 98);

}
.btn-submit:active {
    background-color: rgb(92, 97, 64) !important;
    border-color: rgb(121, 125, 98) !important;
    box-shadow: inset 0 1px 1px rgb(102, 105, 83), 0 0 8px rgb(102, 105, 83) !important;
}
.btn-submit:focus {
    box-shadow: inset 0 1px 1px rgb(102, 105, 83), 0 0 8px rgb(102, 105, 83) !important;
}
.btn-delete {
    background-color: rgb(199, 116, 65);
    border-color: rgb(217, 174, 148);
}
.btn-delete:active {
    background-color: rgb(235, 137, 76);
    border-color: rgb(153, 108, 80);
}
.btn-delete:focus {
    box-shadow: inset 0 1px 1px rgb(153, 108, 80), 0 0 8px rgb(153, 108, 80) !important;
}
@media (min-width: 576px) {
    .editor {
        max-width: 70vw;
    }
}
@media (min-width: 768px) {
    .editor {
        max-width: 60vw;
    }

}
@media (min-width: 1200px) {
    .editor {
        max-width: 75vw;
    }
}
@media (max-width: 768px) {

    .saveBtnText, .deleteBtnText {
        display: none;
    }
    .btn-submit, .btn-delete {
        width: auto;
    }
}