<fieldset>
    <h3 class="login-heading mb-4">Welcome back!</h3>

    <div class="errorMessage" *ngIf="errorMessage">
      <div *ngIf="errorMessage.status == 400">
        The username or password you entered is incorrect.
      </div>
      <div *ngIf="errorMessage.status == 0">
        Unable to connect to the server.
      </div>
      <div *ngIf="errorMessage.status != 400 && errorMessage.status != 0">
        Unknown error. Please contact the server administrator.
      </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <app-error-message [control]="loginForm.controls['username']"></app-error-message>
          <label class="d-block">
            <input type="text" class="form-control" [placeholder]="'Username *'" formControlName="username">
          </label>
        </div>
        <div class="form-group">
            <app-error-message [control]="loginForm.controls['password']"></app-error-message>
          <label class="d-block">
            <input type="password" class="form-control" [placeholder]="'Password *'" formControlName="password">
          </label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-raised btn-login" type="submit">Sign In</button>
        </div>
        <a [routerLink]="['/auth/register']">Got an account already? Log in here!</a>
    </form>
</fieldset>