<div class="container">
    <form [formGroup]="newNoteForm" (ngSubmit)="addNote()" class="d-flex flex-column justify-content-between">
      
      <div class="d-flex flex-grow-1 flex-column ">
            <textarea type="text" class="form-control title" [placeholder]="'Title'" formControlName="title" rows="1"></textarea>
            <quill-editor class="mb-2 d-flex flex-column editor" [styles]="{height: '100%', border: 'none'}" theme="bubble" formControlName="body"></quill-editor>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-submit" type="submit">
          <fa-icon [icon]="saveIcon"></fa-icon>
        </button>
      </div>
    </form>
</div>